h1 {
    color: brown;
}

.header{
    background-color: lightblue;
    display: flex;
justify-content: space-between
}

.hyperlink{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p,h2{
    text-align: center
}

.png{
    display: flex;
    justify-content: flex-end;
}